* {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

button {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: 1.8rem;
    font-family: inherit;
    left: 50%;
    transform-origin: center center;
    transform: translate(-50%);
}

button.learn-more-1 {
    width: 20rem;
    height: auto;
    z-index: 7;
}

button.learn-more-2 {
    width: 25rem;
    height: auto;
    z-index: 7;
}

button.learn-more-1::before, button.learn-more-2::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3.2rem;
    background: #ff9175;
    border-radius: 1.625rem;
    z-index: -1;
}

button.learn-more-1 .circle, .learn-more-2 .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3.2rem;
    background: #fff;
    border-radius: 1.625rem;
}

button.learn-more-1 .circle .icon, .learn-more-2 .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more-1 .circle .icon.arrow, .learn-more-2 .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more-1 .circle .icon.arrow::before, .learn-more-2 .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fd8262;
    border-right: 0.125rem solid #fd8262;
    transform: rotate(45deg);
}

button.learn-more-1 .button-text, .learn-more-2 .button-text{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #fff;
    line-height: 1;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fd8262;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fd8262;
}

.button-text {
    font-family: Courier New, monospace;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    font-size: 27px;
    line-height: 1.5;
    margin-top: 7px;
    margin-bottom: 10px;
}