html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro__media::before {
    content: '';
    position: static; /*не взаимодействует с другими элементами*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.intro__media {
    position: absolute; /*закрепить фон*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f9a5a3 url(../img/fon.png) no-repeat center center;
    background-size: cover;
}

.intro__media-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%)
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f9a5a3 url(../img/fon.png) no-repeat center center;
  z-index: 1001; /*над всеми элементами на странице*/
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
  z-index: 6;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: rgba(185, 198, 178, 1);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.img {
    height: 250px;
    width: 250px;
}

.center {
    position: fixed;
    top: -1.5%;
    left: 50%;
    transform: translate(-350%, -50%);
    width: 250px;
    height: 250px;
    z-index: 4;
}
