.container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5; /* Исходное положение */
}

.left-layer, .right-layer, .top-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5; /* Исходное положение */
  pointer-events: none; /* Важно: отключаем взаимодействие с слоями */
}

.left-layer {
  top: 0;
  left: -100%;
  background: #ffa089;
  transition: left 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.right-layer {
  top: 0;
  left: 100%;
  background: #ffa089;
  transition: left 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.top-layer {
  top: -100%;
  left: 0;
  background: #ffa089;
  transition: top 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Модификаторы для слоев */
.left-layer--2, .right-layer--2, .top-layer--2 {
  background: #fe9176;
  transition-delay: 0.2s;
}

.left-layer--3, .right-layer--3, .top-layer--3 {
  background: #fd8262;
  transition-delay: 0.4s;
}

/* Стили для контента и навигации */
.nav {
  z-index: 1000;
}